* {
    box-sizing: border-box;
}

.main{
    width: 500px;
    margin: 0 auto;
}

.header {
    margin:auto;
    margin-top:50px;
    background-color: aquamarine;
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}


.main .header .title {
    padding-top: 50px;
    text-align: center;
}

.main .header .input-box{
    width:75%;
    margin: 0 auto;
    height:50px;
    font-size:20px;
}

.main .header .input-box input{
    width:75%;
    height:100%;
    border-radius:0px;
    border:0px;
    text-indent: 10px;
    font-size:18px;
    
}

.main .header .input-box .btn{
    width:25%;
    height:100%;
    background: #d9d9d9;
    float: right;
    text-align: center;
    line-height: 50px;
    transition:0.4s;
    cursor: pointer;
}

.main .header .input-box .btn:hover{
    background-color: #bbb;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    cursor:pointer;
    padding:12px 8px 12px 40px;
    background:#eee;
    font-size: 18px;
    transition:#eee;
    position: relative;
}

ul li:nth-child(odd){
    background: #f9f9f9;
}

ul li:hover{
    background:#ddd;
}

ul li.checked{
    text-decoration: line-through;
    background:#888;
    color:#fff;
}

ul li.checked::before{
    content:'';
    position: absolute;
    border-width: 0px 2px 2px 0px;
    border-color: white;
    border-style: solid;
    height:15px;
    width:7px;
    transform: rotate(45deg);
    top: 13px;
    left: 16px;
}

.close{
    position: absolute;
    right:0;
    top:0px;
    padding: 9px 16px 15px 16px;
    font-size: 30px;
    height:100%;
    line-height: 100%;
}

.close:hover{
    background-color: #f44336;
    color: white;
}

.list-body .clear{
    cursor:pointer;
    background: rgb(200, 244, 229);
    height:50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    transition: 0.2s;
} 

.list-body .clear:hover{
    background:rgb(131, 228, 196);
}

.footer{
    height: 100px;
    background: aquamarine;
    border-radius: 0 0 20px 20px;
}